@charset "utf-8";
/* CSS Document */
#topnav{
	margin-bottom: 10px;
}
#topnav .navbar{
	background-color: #223867 ;
	margin-bottom: 0px;
	min-height: 38px;
}
#topnav .navbar-nav{
}
#topnav  .navbar-nav > li{
	float: right;
}
#topnav .navbar-nav > li > a{
	padding-bottom:0px;
	padding-top:10px;
}
#topnav  .navbar-default .navbar-nav > .active > a,
#topnav .navbar-default .navbar-nav > .active > a:hover,
#topnav .navbar-default .navbar-nav > .active > a:focus{
	background-color: transparent;
	color: #FFF;
}
#topnav .navbar-default .navbar-nav > li > a{
	color: #FFF;
}
#topnav .navbar-default .navbar-brand{
	padding:10px 0px 0px 0px;
}
#topnav .nav > li > a{
	padding:10px 7px;
}